<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Date DIfference</h1>
    <div>
        From Date :
            <input type="date">
            <br>
        From Time:
            <input type="time">    
    </div>
    <hr>
    <div>
        To Date :
            <input type="date">
            <br>
        To Time:
            <input type="time">    
    </div>
    <hr>
    <input type="button" value="Get Difference">
</body>
</html>